[submodule "hugo-notepadium"]
	path = hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/origin"]
	path = themes/origin
	url = https://gitlab.com/asleeppiano/origin-hugo-theme.git
